body {
    background-color: #000;
    color: #fff;
}

.icon {
    height: 15vh;
    float: left;
    }

.icon-small {
    max-height: 12vh;
    max-width: 12vh;
    float: left;
    }
    
.weather-icon {
    max-height: 6vh;
    max-width: 6vh;
    float: right;
    }
    
.border-red {
    border: solid 2px #ff0000;
    border-radius : 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.border-green {
    border: solid 2px #398d00;
    border-radius : 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.border-blue {
    border: solid 2px #00aae7;
    border-radius : 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

thead {
    border-bottom: solid 1px #fff;
    font-size: xx-large;
    color : #fff;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    height: 15vh;
    vertical-align: middle;
}

.cell-text {
    font-size: xx-small;
    color: #999999;
    padding-left: 10px;
}

.right {
    position: absolute;
    top: 0px;
    left:100%;
    transform: translateX(-100%) translateY(0%);
    -webkit-transform: translateX(-100%) translateY(0%);
}

.center {
    /*position: absolute;
    top: 0px;
    left:50%;
    transform: translateX(-50%) translateY(100%);
    -webkit-transform: translateX(-50%) translateY(100%);*/
    text-align: center
}

@media (min-width: 1200px)
{
    .container {
        width: 90vw;
    }
}

a > i.fa {
    color: white;
}